<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OTCCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B338A2F81BC97D6200E35F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B338A30C1BC97D6300E35F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B338A3171BC97D6300E35F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
